.boardView-container{
  display: flex;
    flex-direction: column; /* Mengatur elemen dalam kolom */
    width: 100%; /* Memastikan kontainer menggunakan seluruh lebar layar */
    height: 110vh; /* Memastikan kontainer mengambil tinggi penuh layar */
    overflow-y: auto; /* Mengizinkan pengguliran jika konten lebih tinggi dari viewport */
    padding: 10px;
    box-sizing: border-box;
} 

 .nav-date{
  display: flex;
    flex-direction: column;
    position: sticky;
    top: 0; /* Menjadikan elemen sticky di bagian atas halaman */
    z-index: 2000; /* Pastikan elemen ini berada di atas elemen lainnya */
    padding: 10px;
    /* border-bottom: 1px solid #731e17; */
    background-image: linear-gradient(to right, #00000065, #1f0c1065, #34111865, #4b141c65, #62161e65, #76162065, #8a171f65, #9e191b65, #b5151865, #cc101665, #e4080c65, #fb000065);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan untuk mempertegas */
 }

 .nav-date .nav-icon{
  color: white;
 }

.nav-date h3{
  display: flex;
  align-items: center;
  justify-content: left;
  /* border: 1px solid black; */
}
  .boardView-container .form-container{
    background-color: #fff;
    /* color: white; */
    width: 100%;
    height: 55px;
    min-height: 55px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: space-around;
    gap: 15px;
    margin-top: 0;
  }


  .form-container .date{
    text-align: left;
    margin-left: 10px;
    padding-right: 10px;
    /* border-right: 0.3px solid #333; */
  }

  .form-container .board{
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .form-container .member{
    margin-right: 10vw;
  }

  .form-container button{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    /* border: 1px solid #731e17; */
    border: 1px solid #951A1A;
    color: white;
    background-color: #951A1A;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
  }

  /* .create-list-btn{
    width: 100%;
    height: 50px;
    background-color: blue;
  } */
  .create-list-btn button{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    /* border: 1px solid #731e17; */
    border: 1px solid #951A1A;
    color: white;
    background-color: #951A1A;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
  }

  .form-container button:hover{
    background-color: #731e17;
  }
  .board-view-container {
    padding: 10px 20px 20px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 150vh;
    background-color: #ffffff14;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
    /* box-sizing: border-box; */
  }

  .board-view-container h3{
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .lists-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 150vh;
  }


  .list-wrapper{
    min-width: 280px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    /* overflow-x: auto; */
    overflow: auto;
    white-space: nowrap;
    max-height: 100%;
    position: relative;
  }

  .create-list-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
  }
  .lists-container .btn-list{
    height: 50px;
    min-width: 5vw;
    width: 200px;
    background-color: #951A1A;
    color: white;
    border-radius: 10px;
    border: 1px solid #951A1A;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lists-container .btn-list:hover{
    background-color: #731e17;
  }

  .create-list-form{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .create-list-form input{
    width: 80%;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    margin-bottom: 1vh;
  }
  
  .form-btn button{
    margin-right: 1vw;
  }

  .form-btn button.btn-form{
    width: 50%;
    height: 4vh;
    border: 1px solid #951A1A;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #951A1A;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
  }
  .form-btn button.btn-form:hover{
    background-color: #731e17;
  }

  /*Background*/
  .form-container .btn-bg{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: #6b1c14;
    color: white;
    border: 1px solid #491519;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-icon{
    margin-left: 10px;
  }