.boardView-container{
  display: flex;
    flex-direction: column; /* Mengatur elemen dalam kolom */
    width: 100%; /* Memastikan kontainer menggunakan seluruh lebar layar */
    height: 100vh; /* Memastikan kontainer mengambil tinggi penuh layar */
    overflow-y: auto; /* Mengizinkan pengguliran jika konten lebih tinggi dari viewport */
    overflow-x: hidden;
    /* padding: 10px; */
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid green; */
} 
.header-board{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  margin: 0;
  position: sticky;
}
.nav-date{
/* border: 1px solid yellow; */
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.header-navigation{
  display: flex;
  align-items: center;
  justify-content: left;
}
.header-navigation button{
  margin: 0px 5px;
  border: 0.1px solid white;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 15px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navigation button:hover{
  background-color: #eee;
}
.header-navigation .non-active{
  background-color: white;
}
.header-navigation .non-active:hover{
  background-color: white;
}

.header-navigation p{
  font-size: 12px;
}
.form-container{
    /* background-color: #fff; */
    /* background-color: rgba(255, 255, 255, 0.499); */
    /* color: white; */
    /* height: 55px; */
    height: fit-content;
    /* min-height: 55px; */
    border-radius: 10px;
    /* border: 1px solid grey; */
    /* padding: 5px; */
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: space-between;
    /* margin-top: 5px; */
  }


  .form-container .date{
    text-align: left;
    margin-left: 10px;
    padding-right: 10px;
    /* border-right: 0.3px solid #333; */
  }
  .date p{
    margin-top: 5px;
    font-size: 13px;
    color: black;
  }

  .form-container .form-right{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    /* padding: 5px; */
  }
  .form-search{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin-right: 5px;
    /* padding: 2px; */
  }
  .search-bar{
    border-radius: 5px;
  }
  .search-icon{
    background-color: white;
    /* border: 1px solid blue; */
    padding: 5px;
    border-radius: 4px;
    margin: 2px;
    font-size: 15px;
    color: grey;
  }

  .form-container .bg-selector{
    padding: 5px;
    position: relative;
    /* margin-left: 5px; */
  }
  .form-container .bg-selector button{
    padding: 10px;
    border: 0.11px solid white;
    border-radius: 8px;
    font-weight: normal;
    color: black;
    background-color: white;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  }
  .bg-selector button:hover{
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
    color: black;
    background-color: #eee;
  }
  .bg-selector .dropdown-list{
    background-color: white; /* Set background color if needed */
    position: absolute;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    z-index: 1;
    width: 130px;
    top: 45px;
    right: 0;
    max-height: 500px;
    overflow-y: auto;
    transform: translateX(-30px); /* Creates a 10px space on the right */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  */
  }
  .bg-selector .dropdown-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bg-selector .dropdown-list li:hover{
    background-color: #491510;
    color: black;
  }
  
  .dropdown-list img{
    border: 1px solid #491510;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-bottom: 1vh;
  }


  /* .create-list-btn{
    width: 100%;
    height: 50px;
    background-color: blue;
  } */
  .create-list-btn button{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    /* border: 1px solid #731e17; */
    border: 1px solid #951A1A;
    color: white;
    background-color: #951A1A;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
  }


  .board-view-container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    height: 150vh;
    padding: 10px;
    /* border: 1px solid red; */
    background-color: #ffffff14;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
  }

  .board-view-container h3{
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .lists-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    margin: 0;
    padding-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 150vh;
    width: 90vw;
    /* border: 1px solid blue; */
  }


  .list-wrapper{
    width: 19vw;
    /* background-color: #fff; */
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    overflow-x:hidden;
    /* overflow: auto; */
    overflow-y: auto;
    white-space: nowrap;
    max-height: 100%;
    position: relative;
    /* border: 1px solid yellow; */
    padding-bottom: 18vh;
  }
  .form-create-list-container{
    /* border: 1px solid yellow; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    /* background-color: white; */
  }
  .form-create-list-container button{
    padding: 8px;
    color: white;
    background-color: #491510;
    border: 0.2px solid #491510;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  .visible-form{
    /* border: 1px solid blue; */
    padding: 5px;
    /* background-color: white; */
    border-radius: 4px;
  }
  .visible-header{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .visible-header h5{
    margin: 0;
  }
  .visible-body{
    margin: 5px;
  }
  .visible-body input{
    padding: 5px;
    border-radius: 4px;
    border: 0.2px solid #eee;
  }
  .visible-body input:hover{
    background-color: #eee;
    border: 0.2px solid #eee;
  }
  .visible-body input:focus{
    outline: #491510;
    border: 0.2px solid #491510;
  }
  .visible-button{
    margin-top: 5px;
    /* border-top: 1px solid #eee; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .create-list-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid blue;
    height: fit-content;
    padding: 5px;
  }
  .lists-container .btn-list{
    height: fit-content;
    padding: 5px;
    min-width: 5vw;
    width: 100px;
    background-color: #951A1A;
    color: white;
    border-radius: 4px;
    border: 1px solid #951A1A;
    font-weight: normal;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lists-container .btn-list:hover{
    background-color: #731e17;
    border: 1px solid #731e17;
  }

  .create-list-form{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .create-list-form input{
    width: 80%;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    margin-bottom: 1vh;
  }
  
  .form-btn button{
    margin-right: 1vw;
  }

  .form-btn button.btn-form{
    width: 50%;
    height: 4vh;
    border: 1px solid #951A1A;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #951A1A;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
  }
  .form-btn button.btn-form:hover{
    background-color: #731e17;
  } */

  /*Background*/
  .form-container .btn-bg{
    width: 80%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: #6b1c14;
    color: white;
    border: 1px solid #491519;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-icon{
    margin-left: 10px;
  }


  .search-bar {
    position: relative;
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
