.board-container {
  padding: 10px;
  background-color: #f4f5f717;
  width: 100%;
  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.board-container h3{
  /* border: 1px solid blue; */
  text-align: left;
  display: flex;
  align-items: center;
}

.board-list-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px; 
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
  white-space: nowrap;
  padding-right: 50px;
  width: 100%;
}

.board-card { 
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 270px;
  min-width: 200px;
  text-align: left;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 1vw;
}

.board-card2{
  background-color: white;
  /* width: 100%; */
  height: 100%;
  border-radius: 8px;
}

.board-card2 button.newBoard{
  /* background-color: #6b1c14; */
  background-color: #731e17;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  width: 200px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-card2 button.newBoard:hover{
  background-color: #491510;
}

.board-card .board-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.board-icons p {
  margin-right: 10px;
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.board-input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 80%;
}

.board-input:focus {
  outline: none;
  border-color: #0079bf;
}

.board-form button {
  padding: 10px;
  /* font-size: 16px; */
  background-color: #731e17;
  color: white;
  font-weight: bold;
  border: 1px solid #731e17;
  border-radius: 5px;
  cursor: pointer;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.board-form button:hover {
  background-color: #491510;
  color: white;
}

.newBoard {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.btn-nav {
  width: 7vw;
  height: 4vh;
  background-color: #f4f5f700;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 0.5px solid #f4f5f700;
  cursor: pointer;
}
