/* .board-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 1000; 
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
.board-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-board{
  background-image: linear-gradient(to right, 
  rgba(0, 0, 0, 0.8), 
  rgba(31, 12, 16, 0.8), 
  rgba(52, 17, 24, 0.8), 
  rgba(75, 20, 28, 0.8), 
  rgba(98, 22, 30, 0.8), 
  rgba(118, 22, 31, 0.8), 
  rgba(138, 23, 30, 0.8), 
  rgba(158, 25, 27, 0.8), 
  rgba(181, 21, 25, 0.8), 
  rgba(204, 16, 21, 0.8), 
  rgba(228, 8, 13, 0.8), 
  rgba(251, 0, 0, 0.8)
);
border-radius: 10px;
height: 7%;
padding: 5px;
margin-bottom: 5vh;
}

.board-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 150vh;
}

.lists-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 150vh;
}
.board-card {
  min-width: 280px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #491510;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: auto;
  white-space: nowrap;
  max-height: 100%;
}

.board-card .dot-btn{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.dropdown-menu{
  position: absolute;
  padding: 2px 4px;
  right: 100px;
  top: 35px;
  background-color: white;
  border: 1px solid #6b1c14;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

/* .dropdown-menu{
  position: fixed;
  padding: 2px 4px;
  right: 0px;
  top: 35px;
  background-color: white;
  border: 1px solid #6b1c14;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.dropdown-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-menu li{
  width: 150px;
  padding: 8px 5px;
  cursor: pointer;
  border-bottom: 1px solid #6b1d1474;
}
.dropdown-menu .dropdown-li{
  display: flex;
  align-items: start;
  justify-content: left;
  font-size: 13px;
  font-weight: bold;

}
.dropdown-menu li:hover{
  background-color: #bc7b7476;
  border-radius: 8px;
  color: white;
}

.dropdown-icon{
  margin-right: 1vh;
} */

.board-view-container {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 150vh;
  background-color: #ffffff14;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}

.board-list-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 20px;
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.board-container h3{
  text-align: left;
  display: flex;
  align-items: center;
}

.board-list .board-card2{
  height: 100%;
  border-radius: 8px;
}

.board-card2 button.newBoard{
  background-color: #731e17;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
  width: 250px;
  flex-shrink: 0; /* Prevent cards from shrinking */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding doesn't add to width */
}
.board-card2 button.newBoard:hover{
  background-color: #491510;
}

.board-description{
  font-size: 12px;
  text-align: left;
  /* border: 1px solid green; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  height: auto;
}

.board-card .board-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.board-icons p {
  margin-right: 10px;
  font-size: 10px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.board-input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 80%;
}

.board-input:focus {
  outline: none;
  border-color: #0079bf;
}

.board-form button {
  padding: 10px;
  /* font-size: 16px; */
  background-color: #731e17;
  color: white;
  font-weight: bold;
  border: 1px solid #731e17;
  border-radius: 5px;
  cursor: pointer;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.board-form button:hover {
  background-color: #491510;
  color: white;
}

.newBoard {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.btn-nav {
  width: 7vw;
  height: 4vh;
  background-color: #f4f5f700;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 0.5px solid #f4f5f700;
  cursor: pointer;
}
