.cover-container{
    /* border: 1px solid #540c1e;
    margin-top: 0; */
}
.cover-container .cover-button{
   /* border: 1px solid grey; */
   width: 100px;
   height: fit-content;
}
.cover-container button{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* widt */
}
.cover-container button:hover{
    background-color: #eee;
    border: 1px solid #eee;
}
.cover-button p{
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.cover-select-container{
    /* padding: 20px; */
    text-align: center;
}

.cover-select-content{
    /* padding: 20px; */
    text-align: center;
    /* border: 1px solid yellow; */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.cover-select-content .cover-header{
    margin: 0;
    padding: 0px 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cover-header button{
    margin-right: 10px;
    background-color: white;
    border: 2px solid white;
    color: grey;
    cursor: pointer;
    padding: 10px;
    font-weight: normal;
}
.cover-header button:hover{
    color: #540c1e;
    border-bottom: 2px solid #540c1e;
    font-weight: normal;
}
.cover-header .active-btn {
    color: #540c1e;
    border-bottom: 2px solid #540c1e;
    font-weight: normal;
}

/* COVER BODY  */
.cover-body{
    /* border: 1px solid #eee; */
    padding: 10px;
}
.cover-gallery{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 48vw;
    padding: 10px;
    /* border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3); */
    
}
.gallery-default{
    /* border: 1px solid #eee; */
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.gallery-default h5{
    text-align: left;
    margin: 2px;
    font-weight: normal;
}
.gallery-default .default-color{
    display: flex;
    justify-content: left;
    /* margin: 5px; */
}


.image-default{
    /* border: 1px solid #eee; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
}
.image-default h5{
    text-align: left;
    margin: 2px;
    font-weight: normal;
}
.image-default .image-cover{
    display: flex;
    justify-content: left;
    overflow-x: auto;
    /* border: 1px solid red; */
}
/* END COVER BODY  */

/* COVER UPLOAD  */
.cover-upload{
    border: 1px dashed grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48vw;
}
.cover-upload input{
    margin: 10px;
    padding: 10px;
}

/* END COVER UPLOAD  */

/* SHOW SELECTED COVER  */
.selected-cover{
    /* border: 1px solid #eee; */
    width:63vw;
    padding: 5px 0px;
    /* margin: 5px; */
}
.selected-cover img{
    width: 63vw;
    /* border: 1px solid yellow; */
    height: 25vh;
    border-radius: 8px;
}
.selected-content img .import-cover{
    width:63vw ;
    height: fit-content;
    /* border: 1px solid red; */
}
.selected-content .upload-cover{
    width: 100%;
    height: 20vh;
    border-radius: 4px;
}
/* END SHOW SELECTED COVER  */
.selected-content .remove{
    /* border: 1px solid blue; */
    padding: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: right;
}
.selected-content .remove-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
}
.remove-btn:hover{
    background-color: #eee;
}