.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Agar popup berada di atas konten lain */
}

.popup-content {
    background-color: white; /* Latar belakang konten */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan untuk efek kedalaman */
    width: 400px; /* Lebar popup */
}

.popup-content h2 {
    margin-top: 0; /* Menghilangkan margin atas */
    color: #491519;
}

.popup-content img{
    width: 30%;
    height: 30%;
}

.popup-content label {
    display: block; /* Menampilkan label sebagai blok */
    margin-bottom: 10px; /* Jarak antara label dan elemen berikutnya */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.popup-content select {
    width: 100%; /* Lebar penuh */
    height: 30px;
    padding: 8px; /* Padding di dalam select */
    margin-bottom: 20px; /* Jarak bawah untuk select */
    border-radius: 2px; /* Sudut membulat */
    border: 1px solid #ccc; /* Garis batas */
    /* background-color: red; */
    color: black;
    margin-top: 10px;
}
.popup-content select option{
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.popup-content button {
    margin-right: 10px; /* Jarak antara tombol */
    padding: 10px 15px; /* Padding dalam tombol */
    border: none; /* Menghilangkan garis batas default */
    border-radius: 4px; /* Sudut membulat */
    cursor: pointer; /* Mengubah kursor saat hover */
    background-color:#97271C ;
    color: white;
}

.popup-content button:hover {
    background-color: #491519; /* Warna latar belakang saat hover */
}

.popup-content .alert {
    margin-top: 15px; /* Jarak atas untuk alert */
}
.alert-position{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}
.popup-label{
    text-align: left;
    /* border:  1px solid red; */
}

.popup-content button {
    font-weight: bold;
    box-shadow: rgba(117, 71, 71, 0.5);
}
.popup-content .duplicate-btn{
    background-color: #97271C;
    color: white;
}
.popup-content .cancle-btn{
    background-color: white;
    color: #491519;
    border: 1px solid #491519;
}