/* LIST DUPLICATE  */
.popup-board-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Background semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* END LIST DUPLICATE  */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Agar popup berada di atas konten lain */
}

.popup-content {
    margin: 0;
    background-color: white; /* Latar belakang konten */
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan untuk efek kedalaman */
    width: 400px; /* Lebar popup */
}
.popup-content .duplicate-header{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.popup-content h5 {
    margin: 0; /* Menghilangkan margin atas */
    color: #491519;
}



.popup-content .alert {
    margin-top: 15px; /* Jarak atas untuk alert */
}
.alert-position{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}
.popup-content .duplicate-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid #eee; */
}
.duplicate-body label{
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.popup-content .duplicate-btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    border-top: 1px solid #eee;
    /* border: 1px solid #eee; */
}
.duplicate-btn button{
    background-color: #491519;
    border: 1px solid #491519;
    color: white;
}

.popup-content .dropdown-container {
    position: relative;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    background-color: #eee;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .popup-content .dropdown-container:hover {
    background-color: #eee;
    border: 1px solid #491519;
} 
  
  .dropdown-selected {
    color: #333;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20vh;
    border: 1px solid #ddd;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .dropdown-container.open .dropdown-list {
    display: block;
  }
  