.search-container {
    margin-bottom: 8px;
    /* border: 1px solid blue; */
}

.search-container .search-input {
    width: 92%;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    outline: none;
}

.dropdown-container-card {
    position: relative;
    /* border: 1px solid red; */
}

/* .dropdown-selected {
    padding: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
} */

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: block; /* Ensure the dropdown is always shown when searchQuery is present */
}
.dropdown-list p{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
