.list-container button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.list-container .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid green;
}

.lists-dropdown-menu-action{
  position: absolute; /* Untuk memastikan dropdown muncul di atas konten lainnya */
  background: white; /* Warna latar belakang dropdown */
  border: 1px solid #ccc; /* Border dropdown */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Bayangan dropdown */
  padding: 5px; /* Padding di dalam dropdown */
  top: 30px; /* Jarak dari atas elemen yang mengandung dropdown */
  right: 10px; /* Jarak dari kanan elemen yang mengandung dropdown */
  z-index: 1000; /* Memastikan dropdown berada di atas konten lain */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 5px;
  /* width: 10vw; */
  /* height: 100%; */
}

.lists-dropdown-menu-action .dropdown-ul{
  padding: 0.5px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  /* border: 1px solid blue; */
}

.dropdown-li{
  margin-top: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-li:hover{
  background-color: #ddcccc;
  border-radius: 5px;
  color: white;
}

.dropdown-li .ikon{
  margin-right: 1vh;
  color: #6b1c14;
  padding: 4px;
}

.dot-btn{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.dot-btn:hover{
  color: #0079bf;
}

.list-container .cover{
  width: 95%;
  height: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0vh;
  background-color: #B67444;
}

.list-container .card-description {
  color: #333;
  font-size: 13px;
  /* border: 1px solid black; */
  padding: 5px; /* Agar teks tidak terlalu rapat dengan border */
  word-wrap: break-word; /* Memastikan kata-kata yang terlalu panjang membungkus ke baris berikutnya */
  overflow-wrap: break-word; /* Memastikan kata-kata yang terlalu panjang membungkus ke baris berikutnya (alternatif) */
  white-space: normal; /* Mengizinkan teks untuk membungkus secara otomatis */
  height: auto; /* Mengatur tinggi secara otomatis sesuai dengan konten */
}

.card-list-lists{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  /* background-color: red; */
}
.card-item-lists{
    background-color: #fff;
    /* border: 1px solid grey; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 90%;
}

.dot-icon{
  /* border: 1px solid grey; */
  border-radius: 5px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.2, 0.2);
  transition: transform 0.3s ease, color 0.3s ease;
}
.dot-icon:hover{
  transform: scale(1.4);
}
/* .card-container{
  display: flex;
  margin-right: 1vw;
  position: relative;
  border: 1px solid green;
  height: 10px;
} */
.card-container .card-dropdown-menu-action{
  display: block;
}
/*CARD DROPDOWN*/
.card-dropdown-menu-action{
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  top: 40px; /* Sesuaikan agar muncul di bawah ikon */
  right: 0;
  width: 180px;
}

.dropdown-ul{
  padding: 0.5px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  /* border: 1px solid blue; */
}
.dropdown-ul li {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.dropdown-ul li:hover {
  background-color: #f4f4f4; /* Warna latar saat dihover 
}

.ikon {
  margin-right: 8px;
}

.label{
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 0.5fr)); */
  /* gap: 20px; */
  width: 80%;
  height: 70%;
  gap: 5px;
  padding: 5px;
  font-size: 10px;
  /* border: 1px solid grey; */
}
.label1{
  border: 1px solid #236BCD;
  background-color: #236acd7b;
  color: #007bff;
  border-radius: 5px;
}
.label2{
  border: 1px solid #FEC806;
  background-color: #fec80678;
  color: #fec806;
  border-radius: 5px;
}
.label3{
  border: 1px solid #B67444;
  background-color: #b6744485;
  color: #B67444;
  border-radius: 5px;
}

.fiture-container{
  display: flex;
  justify-content: space-between;
}
.fiture{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 5px;
  /* transition: transform 0.3s; */
}
.fitur1{
  /* border: 1px solid grey; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.fitur2{
  /* border: 1px solid grey; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.fiture .icon {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.fiture .icon:hover {
  transform: scale(1.4); /* Membesarkan ikon saat hover */
  color: #007bff; /* Mengubah warna ikon saat hover */
}

.fiture-container button.edit-btn{
  background-color:rgb(201, 201, 244);
  border: 1px solid rgb(163, 163, 239);
  border-radius: 10px;
  color: rgb(124, 124, 240);
  margin-bottom: 2vh;
  font-size: 10px;
  transition: transform 0.3s ease;
}
.edit-btn:hover{
  transform: scale(1.2);
}

.card-form .card-form-input{
  max-width: 90%;
}
.card-form button.add-btn{
  background-color: #951A1A;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-form button.add-btn:hover{
  background-color: #731e17;
}

.addButton{
  /* background-color: blue; */
  max-width: 100% ;
  height: 5vh;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto Serif", serif;
  border: 0.1px solid #F4F5F7;
  background-color: white;
  border-radius: 5px;
}
.addButton:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}