.list-container button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* color: blue; */
}

.list-container .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  /* border: 1px solid green; */
}

/*titik tiga ikon*/
.dot-btn{
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.dot-btn:hover{
  color: #0079bf;
}
/*titik tiga ikon*/


.card-list-lists{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  /* background-color: red; */
}
.card-item-lists{
    background-color: #fff;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 90%;
    position: relative;
}
/*Dropdwon-menu-action*/
.dropdown-menu-action{
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1000;
  right: 10px;
  top: 40px;
  height: 100px;
  border-radius: 5px;
}
.dropdown-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: bold;
}
.dropdown-li{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropdown-li:hover{
  background-color: #ddcccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*list-dropdown-menu-action*/
/* .lists-dropdown-menu-action{
  position: absolute;
  background: white; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  padding: 5px; 
  top: 30px; 
  right: 10px; 
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 5px;
}

.lists-dropdown-menu-action .dropdown-ul{
  padding: 0.5px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.list-dropdown-menu-action.dropdown-li{
  margin-top: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list-dropdown-menu-action.dropdown-li:hover{
  background-color: #ddcccc;
  border-radius: 5px;
  color: white;
}

.list-dropdown-menu-action.dropdown-li .ikon{
  margin-right: 1vh;
  color: #6b1c14;
  padding: 4px;
} */
/*end list-dropdown-menu-action*/


.list-container .cover{
  width: 100%;
  height: 70px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  /* margin: 0vh; */
  background-color: #B67444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.cover img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.list-container .card-description {
  color: #333;
  font-size: 13px;
  /* border: 1px solid black; */
  padding: 5px; /* Agar teks tidak terlalu rapat dengan border */
  word-wrap: break-word; /* Memastikan kata-kata yang terlalu panjang membungkus ke baris berikutnya */
  overflow-wrap: break-word; /* Memastikan kata-kata yang terlalu panjang membungkus ke baris berikutnya (alternatif) */
  white-space: normal; /* Mengizinkan teks untuk membungkus secara otomatis */
  height: auto; /* Mengatur tinggi secara otomatis sesuai dengan konten */
}



.dot-icon{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0.2, 0.2);
  transition: transform 0.3s ease, color 0.3s ease;
}
.dot-icon:hover{
  transform: scale(1.4);
}
.card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.card-item-lists .card-dropdown-menu-action{
  display: block;
}

/*CARD DROPDOWN*/
.card-dropdown-menu-action{
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border :1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  top: 30px; /* Sesuaikan agar muncul di bawah ikon */
  right: 0;
  width: 180px;
}

.card-dropdown-menu-action .dropdown-ul{
  padding: 0.5px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  list-style: none;
  /* border: 1px solid blue; */
}
.card-dropdown-menu-action li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-dropdown-menu-action .dropdown-li:hover {
  /* background-color: #f4f4f4; */
  background-color: #ddcccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-dropdown-menu-action .ikon {
  margin-right: 8px;
  color: #6b1c14;
  font-size: 15px;
}

.label{
  display: flex;
  width: 80%;
  height: 70%;
  gap: 5px;
  padding: 5px;
  font-size: 10px;
}
.label1{
  border: 1px solid #236BCD;
  background-color: #236acd7b;
  color: #007bff;
  border-radius: 5px;
}
.label2{
  border: 1px solid #FEC806;
  background-color: #fec80678;
  color: #fec806;
  border-radius: 5px;
}
.label3{
  border: 1px solid #B67444;
  background-color: #b6744485;
  color: #B67444;
  border-radius: 5px;
}

.fiture-container{
  display: flex;
  justify-content: space-between;
}
.fiture{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 5px;
  /* transition: transform 0.3s; */
}
.fitur1{
  /* border: 1px solid grey; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.fitur2{
  /* border: 1px solid grey; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.fiture .icon {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.fiture .icon:hover {
  transform: scale(1.4); /* Membesarkan ikon saat hover */
  color: #007bff; /* Mengubah warna ikon saat hover */
}

.fiture-container button.edit-btn{
  background-color:rgb(201, 201, 244);
  border: 1px solid rgb(163, 163, 239);
  border-radius: 10px;
  color: rgb(124, 124, 240);
  margin-bottom: 2vh;
  font-size: 10px;
  transition: transform 0.3s ease;
}
.edit-btn:hover{
  transform: scale(1.2);
}

.card-form .card-form-input{
  max-width: 90%;
}
.card-form button.add-btn{
  background-color: #951A1A;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-form button.add-btn:hover{
  background-color: #731e17;
}

.addButton{
  /* background-color: blue; */
  max-width: 100% ;
  height: 5vh;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto Serif", serif;
  border: 0.1px solid #F4F5F7;
  background-color: white;
  border-radius: 5px;
}
.addButton:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}