.member-container {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
}
.member-container .member-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding:10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.member-date h4{
  margin: 0;
}
.member-date p{
  margin: 0px;
  font-size: 13px;
  /* border: 1px solid red; */
}

/* Filter  */
.member-filter-container{
  /* border: 1px solid #eee; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member-filter-container h4{
  font-weight: normal;
  margin-right: 5px;
  font-size: 15px;
}
.member-filter-container .filter-dropdown{
  border: 1px solid #eee;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  padding: 4px;
}
.filter-dropdown .btn-category{
  border-right: 1px solid #491510;
  border-bottom: 1px solid white;
  color: #491510;
  font-weight: bold;
  background-color: #fff;
  padding: 4px;
  margin-right: 0;
  width: 60px;
}
.filter-dropdown .custom-input{
  /* border: 1px solid grey; */
  width: 150px;
}
.member-filter-container .btn-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left:5px;
  color:#fff;
  font-weight: bold;
  background-color: #491519;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #491519;
}
.btn-filter:hover{
  background-color: #22090b;
  color: white;
  /* font-weight: bold; */
}

/* dropdwon menu  */
.filter-dropdown .filter-dropdown-menu-container {
  position: absolute;
  top: 0;
  right: 440px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.filter-dropdown-menu-container .dropdown-item{
  border-bottom: 1px solid #eee;
  width: 70px;
  padding: 4px;
  font-size: 10px;
  color: #333;
}

/* end dropdown menu  */
/* End Filter  */

/* CREATE DATA NEW MEMBER  */
.create-new-member{
  border-left: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.create-new-member .add-member{
  border: 1px solid #491519;
  color: #491519;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-member a{
  text-decoration: none;
  color: #491519;
}
.add-member:hover,
.add-member a:hover
{
  background-color: #491519;
  color: #fff;
}

/* MODAL CREATE MEMBER  */

.modal{
  position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 15px;
    box-shadow: 0 0 10px rgba(96, 28, 28, 0.5);
    border-radius: 8px;
    border: 1px solid #491519;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding:  0px 10px;
  margin: 5px;
  /* border-radius: 8px; */
  width: 90%;
}
.modal-header h5{
  margin: 0px;
}
/* .modal-header .header-ikon{
  cursor: pointer;
} */

/* Informasi personal  */
.modal .personal,
.modal .kontak,
.modal .kepegawaian
{
  /* border: 1px solid green; */
  width: 90%;
  margin-top: 10px;
}

.personal h5,
.kontak h5,
.kepegawaian h5
{
  margin: 0px 25px ;
  font-weight: normal;
  color: #333;
}
.personal .body,
.kontak .body,
.kepegawaian .body
{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
}


.modal input {
  display: block;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 5px;
  border: 0.3px solid grey;
  width: 90%;
  box-shadow: 0 0 10px rgba(96, 28, 28, 0.2);
}
.modal input:focus{
  outline: none;
  border: 1px solid #491519;
}

.modal .button-add-member{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.button-add-member button{
  border: 1px solid #491519;
  color: #491519;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}
.button-add-member button:hover{
  background-color: #491519;
  color: white;
}
.button-add-member .cancle-btn{
  background-color: #491519;
  color: white;
}
.button-add-member .cancle-btn:hover{
  background-color: #22090b;
}
/* END MODAL CREATE MEMBER  */
/* END CREATE DATA NEW MEMBER  */

/* DATA TABEL  */
.tabel-data-container{
  padding: 10px;
}
.tabel-data-container .tabel-data{
  overflow-x: auto;
  height: 75vh;
}

.tabel-data table{
  width: 100%;
  min-width:1200px;
  border-collapse: collapse;
  table-layout: fixed;
  /* height: fit-content; */
}
.tabel-data thead{
  position: sticky;
  /* position: relative; */
  top: 0; /* Pastikan tetap di atas saat di-scroll */
  z-index: 99;
  padding: 5px;
  height: 10px;
  background-color: #d7c9ca; 
}

.tabel-data th, .tabel-data td{
  /* border: 1px solid #491510; */
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabel-data th{
  padding: 12px 15px;
  text-align: left;
  height: 20px;
  margin-bottom: 10px;
  background-color: #d7c9ca;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
.tabel-data td{
  height: 20px;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}

.tabel-data tr:nth-child(even){
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #f7f7f7;
}
.tabel-data tr:nth-child(even):hover{
  background-color: #d7c9ca;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.tabel-data tr{
  transition: transform 0.2s, box-shadow 0.2s;
}
.tabel-data tr:hover{
  background-color: #d7c9ca;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  color: black;
}


/* Customize width for each column */
.tabel-data th:nth-child(1), .tabel-data td:nth-child(1) {
  width: 150px; /* Name */
}

.tabel-data th:nth-child(2), .tabel-data td:nth-child(2) {
  width: 100px; /* nickname */
}

.tabel-data th:nth-child(3), .tabel-data td:nth-child(3) {
  width: 200px; /* Email */
}

.tabel-data th:nth-child(4), .tabel-data td:nth-child(4) {
  width: 120px; /* Nomor Telpn */
}

.tabel-data th:nth-child(5), .tabel-data td:nth-child(5) {
  width: 100px; /* Divisi */
}

.tabel-data th:nth-child(6), .tabel-data td:nth-child(6) {
  width: 50px; /* Shift */
}

.tabel-data th:nth-child(7), .tabel-data td:nth-child(7) {
  width:70px; /* Jabatan */
}

.tabel-data th:nth-child(8), .tabel-data td:nth-child(8) {
  width: 120px; /* Action */
  text-align: center;
}
/* END DATA TABEL  */

/* button  */
td .button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}
.button .edit-btn{
  border: 1px solid #491519;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button .hapus-btn{
  border: 1px solid #491519;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  color: #491519;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-td{
  margin-right: 5px;
  font-size: 15px;
}
.edit-btn:hover,
.hapus-btn:hover
{
  color: white;
  background-color: #491519;
}
/* end button  */