/* Schedule.css */
.schedule-tabel-container{
    overflow-x: auto;
    width: 100%;
}
.schedule-table table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
    table-layout: fixed;
}


.schedule-table th, td {
    padding: 8px;
    /* border: 1px solid #6b1c14; */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.schedule-table th {
    padding: 12px 15px;
    text-align: left;
    height: 20px;
    /* border-bottom: 1px solid #ddd; */
    margin-bottom: 10px;
    background-color: #d7c9ca;
    color: #333;
    font-weight: bold;
}
.schedule-table td{
    height: 20px;
    padding: 12px 15px;
    text-align: left;
}
.schedule-table tr:nth-child(even){
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #f7f7f7;
}
.schedule-table tr:nth-child(even):hover{
    background-color: #d7c9ca;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.schedule-table tr{
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .schedule-table tr:hover{
    background-color: #d7c9ca;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    color: black;
  }

.schedule-table th:nth-child(1), .schedule-table td:nth-child(1){
    width: 150px;
}
.schedule-table th:nth-child(2), .schedule-table td:nth-child(2){
    width: 80px;
    text-align: left;
}
.schedule-table th:nth-child(3), .schedule-table td:nth-child(3){
    width: 80px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ecdfdf;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.attent-status p {
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
}
p.available{
    /* border: 2px solid #6b1c14; */
    width: 80px;
    background-color: rgb(201, 230, 201);
    color: rgb(7, 62, 7);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
p.notAvailable{
    width: 80px;
    background-color: rgb(244, 201, 201);
    color: #6b1c14;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.member-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid grey; */
    /* border-radius: 10px; */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(63, 19, 19, 0.3);
    background-color: white;
    margin-bottom: 5px;
}

.btn-member{
    display: flex;
    align-items: center;
    justify-content: left;
}

.btn-member a{
    text-decoration: none;
    color: white;
}
.btn-member button{
    width: 150px;
}