.searchBar-container{
    position: relative;
    margin: 1px;
}
.search-input{ 
    padding: 5px;
    font-size: 10px;
    border-radius: 4px;
    border: 1px solid white;
}
.searchBar-container input:focus{
    border: 1px solid transparent; /* Menghilangkan border warna */
    outline: none;
}

.dropdown-result{
    position: absolute;
    z-index: 10000;
    /* top: calc(100% + 5px); */
    top: 100%;
    left: 0px;
    /* right: 5px; */
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    overflow-y: auto;
    border-radius: 8px;
    font-size: 10px;
    padding: 5px;
    text-align: left;
}
.dropdown-item{
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}