.sidebar {
    width: 250px;
    color: white;
    padding: 20px;
    height: 100vh;
    transition: width 0.3s ease;
    /* border-radius: 15px; */
  }

  .sidebar.collapsed{
    width: 80px;
    color: white;
  }

  .sidebar.collapsed.icon{
    margin-right: 0;
    color: white;
  }
  
  .sidebar-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .sidebar-item-group {
    margin-bottom: 0px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  /* background-color: #333; */
 /* Pindahkan Chevron ke ujung kanan */
  }

  .sidebar-item .icon {
    margin-right: 10px;
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
    text-decoration: none;
    color: white;
  }

  .menu-title{
    flex-grow: 1;
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: white;
  }

  /* SIDEBAR LINK */
  .menu-title a{
    text-decoration: none;
    color: white;
  }
  /*menu yang telah dikunjungi*/
  .menu-title a:visited{
    color: rgb(211, 208, 208);
  }
  .menu-title a:hover {
    color: #97271C; /* Warna teks link saat di-hover (contoh: biru) */
  }
  
  .menu-title a:active {
    color: #97271C; /* Warna teks link saat aktif (klik) */
    /* text-decoration: underline; */
  }
  /* END SIDEBAR LINK */

  .sidebar-item .menu-text {
    flex-grow: 1;
    transition: opacity 0.3s ease;
  }

  .sidebar-item .icon-dash{
    margin-right: auto;
    margin-left: 10px;
  }
  
  .sidebar-item .icon-chevron {
    margin-left: auto;
    transition: transform 0.3s ease;
    color: white;
  }
  

  /*
  coba
  */

  .sidebar.collapsed .sidebar-item .icon-chevron {
    opacity: 0; /* Sembunyikan Chevron saat sidebar diperkecil */
    margin-left: 0; /* Hilangkan margin agar tidak ada jarak */
  }
  
  .sidebar.collapsed .sidebar-item {
    justify-content: center; /* Tempatkan item di tengah */
  }
  
  .sidebar.collapsed .sidebar-item .icon {
    margin-right: 0;
    text-decoration: none;
    color: white;
  }
  
  .sidebar-item:hover {
    /* background-color: #444; */
    color: white;
    /* border-radius: 10px; */
    border-bottom: 3px solid #97271C;
  }
  
  .sidebar-collapse {
    margin-top: 10px;
  }
  
  .sidebar-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px;
  }
  
  .sidebar-collapse-items {
    margin-left: 20px; 
  }
  .sidebar-collapse-items:hover{
    border-bottom: 3px solid #97271C;
  }

  .dropdown-h5{
    display: flex;
    align-items: center;
  }


  .icon-action {
    margin-right: 10px;
  }

  .sidebar-dropdown-menu{
    /* background-color: white; */

  }
  .sidebar-dropdown-menu h5{
    font-size: 15px;
    text-align: Left;
    margin-left: 20px;
    font-weight: 50;
  }
  .sidebar-dropdown-menu h5:hover{
    border-bottom: 3px solid #97271C;
  }

  .sidebar.collapsed .sidebar-item {
    justify-content: center;
    text-decoration: none;
  }
  
  .sidebar.collapsed .sidebar-item-group,
  .sidebar.collapsed .sidebar-label,
  .sidebar.collapsed .sidebar-collapse-items {
    display: block;
  }
  
  .sidebar.collapsed .sidebar-item a {
    display: block;
    text-align: center;
  }

  .sidebar-action{
    border-top: 1px solid grey;
  }

  /*Marketing*/
.sidebar-marketing .sidebar-label{
  margin-bottom: 10px;
}