.workspace-main-container{
  display: flex;
  height: 100%;
  width: 100%;
}

.workspace-container {
    padding: 5px;
    /* padding-right: 30px; */
    height: 100vh;
    /* width: 80vw; */
    min-width: 100%;
    max-width: 100%;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    overflow-y: auto;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
  }


  .workspace-title{
    display: flex;
    justify-content: space-between;
    /* margin-left: 2vw; */
    /* margin-right: 2vw; */
    width: 99%;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
    padding: 10px;
    border-bottom: 1px solid rgb(232, 232, 232);
    /* border-radius: 10px; */
  }

  .workspace-title .workspace-title-navigation button{
    background-color: white;
    border: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 4px;
  }
  .workspace-title-navigation button:hover{
    background-color: rgb(226, 225, 225);
    padding: 4px;
    border-radius: 4px;
  }

  .workspace-title .gretting-setting{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workspace-title .gretting-setting button{
    padding: 4px;
    font-size: 15px;
    background-color: white;
    border: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  .gretting-setting button:hover{
    background-color: rgb(226, 225, 225);
    padding: 4px;
    border-radius: 4px;
  }

  .gretting-setting .button-create button{
    background-color: #491519;
    color: white;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    font-size: 10px;
  }

  .filter-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .filter{
    min-width: 30px;
    height: 4vh;
    margin-left: 1vw;
    border-radius: 10px;
    border: 1px solid #97271C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #F8D0D0;
    color: #97271C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .filter:hover{
    background-color: #97271C;
    color: white;
  }

  .workspace-icons{
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    animation: transit;
    /* border: 1px solid grey; */
  }
.workspace-icons:hover{
  /* background-color: #F8D0D0; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

  .workspace-icons-user{
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .workspace-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
    gap: 10px;
    margin-top:10px;
    cursor: pointer;
    /* background-color: #0056b3; */
    margin-right: 30px;
    padding: 10px;
    padding-bottom: 40px;
    height: auto;
    overflow-y: auto;
  }

  .workspace-card-title{
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 2px;
    padding: 0px 15px;
    border-radius: 5px;
    /* color:#6b1c14; */
    /* background-color:  white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  }
  .workspace-card-main{
    padding: 0px 15px;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    max-height: 20vh;
    /* height: 20vh; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
    /* border: 1px solid grey; */
  }
  .workspace-card-main p{
    font-size: 12px;
    padding: 0px;
    margin: 5px 0px;
  }
  .workspace-card-main .workspace-card-bottom{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
  }
  .workspace-card-main .workspace-card-bottom button{
    padding: 5px;
    font-size: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #491519;
    background-color: white;
    border: 1px solid white;
  }
  .workspace-card-bottom button:hover{
    padding: 5px;
    background-color: #491519;
    border-radius: 4px;
    color:white;
  }

  .workspace-card-bottom .card-icon{
    margin-right: 5px;
  }
  
  .action-workspace{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin: 0;
    min-width:15vw ;
    width: 15vw;
    /* border: 1px solid grey; */
  }
  .action-workspace p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #491519;
    color: black;
    background-color: #6b1d1455;
    border-radius: 8px;
    padding: 4px;
    margin-right: 5px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  }

  .action-workspace .btn-workspace{
    background-color: #97271C;
    color: white;
    margin-left: 2vw;
    border-radius: 50%;
    width: 12%;
    height: 4vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 0;
  }

  .action-workspace .btn-workspace:hover{
    background-color: #6b1c14;
  }
  
  .workspace-card {
    position: relative;
    height: 25vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* border: 1px solid #6b1c14; */
    transition: transform 0.4s;
  }
  
  /* .workspace-card:hover {
    transform: translateY(-5px);
  } */
  
  .workspace-card h3 {
    margin: 0 0 10px 0;
  }
  /* .workspace-card .dot-btn{
    color:#6b1c14;
    cursor: pointer;
  } */

  .workspace-card p {
    margin-bottom: 15px;
    color: #555;
  }
  .workspace-card .card-btn{
    color:#6b1c14;
    cursor: pointer;
  }
  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 80px; /* Lebar tooltip */
    background-color: #333; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;

    /* Posisi tooltip */
    position: absolute;
    bottom: 50%; /* Geser tooltip di atas elemen */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    z-index: 1;

    /* Animasi */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


  /* MENU ACTION  */

  .workspace-card .dropdown-menu-action{
    display: block;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    top: 35px;
    right: 0;
    height: fit-content;
    width: fit-content;
    padding: 8px;
  }

  .dropdown-menu-action h5{
    background-color: white;
    color: grey;
    font-weight: normal;
    margin: 0px 5px;
  }
  .dropdown-container{
    padding: 5px;
    /* border: 1px solid green; */
  }

  .dropdown-container .action-btn
  {
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: fit-content;
    border: 1px solid white;
  }


  .dropdown-container .action-btn-remove{
    border-top: 1px solid grey;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .dropdown-container .action-btn:hover{
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid white;
  }

  .dropdown-container .action-btn-remove:hover{
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid white;
  }
  .dropdown-container .ikon{
    color: grey;
    margin: 5px;
    padding: 2px;
    font-size: 15px;
    /* border: 1px solid red; */
  }
  .dropdown-container .ikon-remove{
    color: rgb(180, 4, 4);
    margin: 5px;
    font-size: 15px;
  }
  .dropdown-container  .action-btn button{
    text-align: left;
    padding: 5px;
    border: 1px solid white;
    background-color: white;
    color: #000;
    margin: 0px;
    width: 100%;
    height: 50%;
  }
  .dropdown-container  .action-btn button:hover,
  .dropdown-container .action-btn-remove button:hover
  {
    background-color: #eee;
    border: 1px solid #eee;
  }
  .dropdown-container  .action-btn-remove button{
    text-align: left;
    padding-left: 5px;
    border: 1px solid white;
    background-color: white;
    color: rgb(180, 4, 4);
    /* border: 1px solid blue; */
  }

  /* END MENU ACTION  */
 


  
  .workspace-card button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* .workspace-card button:hover {
    background-color: #0056b3;
  } */
  
  .workspace-form {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F4F5F7;
  }
  
  .workspace-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .workspace-form button {
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: #051937;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .workspace-form button:hover {
    background-color: #051937;
    color: white;
  }

  .workspace-container button.addButton{
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
  }

  /* Background overlay */
.popup-overlay-create-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Transparansi */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; /* Pastikan di atas semua elemen */
}

/* Konten popup */
.popup-content-create-card {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 27vh;
  width: 40vw; /* Lebar popup */
  max-width: 90%;
  position: relative;
  z-index: 100001;
}
.popup-content .workspace-form{
  border: 1px solid yellow;
}
.popup-content-create-card .header-popup-create{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 0;
  border-bottom: 1px solid #e1dfdf;
}
.header-popup-create h5{
  margin: 0;
  font-weight: normal;
  /* border-bottom: 1px solid #491519; */
}
.workspace-form-create-card{
  padding: 10px;
  margin: 10px 0px;
  /* border: 1px solid grey; */
}

/* Input group styling */
.input-group {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
}
.input-group-desc{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 5px;
  border: 0.1px solid white;
  border-radius: 8px;
  /* background-color: #eee; */
}
.input-group-desc input{
  width: 100%;
  height: 100%;
  border: 0.1px solid #eeeeee00;
}
.input-group-desc:hover,
.input-group-desc input:hover{
  background-color: #eee;
  border: 0.1px solid #eee;
}

.input-group .input-field::placeholder{
  font-weight: 500;
  font-size: 15px;
}
.input-group-desc .input-field::placeholder{
  font-weight: normal;
  font-size: 13px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.input-field {
  width: 80%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
}

.input-field:focus{
  border: 1px soid transparent;
  outline: none;
}
/* Button group */
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px 0px;
  padding: 10px;
  border-top: 1px solid #e1dfdf;
}

.button-group button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-group button:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-group button:first-child {
  background-color: #491519;
  color: white;
}



  /* bg select style  */
  .workspace-container .btn-bg{
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: #6b1c14;
    color: white;
    border: 1px solid #491519;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-icon{
    margin-left: 10px;
  }


  /*Confirm delete*/
  .popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-overlay .btn-confirm{
    background-color: #97271C;
    color: white;
  }
  .popup-overlay .btn-confirm:hover{
    background-color: #491519;
  }

  .popup-content{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .popup-content h3{
    margin-bottom: 10px;
  }

  .popup-content button{
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .popup-content button:hover{
    background-color: #491519;
    color: white;
  }
  /* End Confirm delete*/

  @media (max-width: 768px) {
    .workspace-container {
      height: auto; /* Biarkan height menyesuaikan secara otomatis pada layar kecil */
    }
  
    .workspace-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Atur ulang kolom agar sesuai dengan layar kecil */
    }
  }

  .modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the width as necessary */
    background-color: var(--background-paper); /* Use MUI's background.paper variable or set a specific color */
    border: 2px solid #000;
    box-shadow: 24px; /* Adjust the shadow as necessary */
    padding: 16px; /* Adjust the padding to your preference */
  }
  