.workspace-main-container{
  display: flex;
  height: 100%;
  /* max-width: 100%;
  min-width: 100%; */
}

.workspace-container {
    padding: 20px;
    /* padding-right: 30px; */
    height: 100vh;
    /* width: 80vw; */
    min-width: 100%;
    max-width: 100%;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .workspace-title{
    display: flex;
    justify-content: space-between;
    /* margin-left: 2vw; */
    margin-right: 2vw;
  }



  .filter-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .filter{
    min-width: 30px;
    height: 4vh;
    margin-left: 1vw;
    border-radius: 10px;
    border: 1px solid #97271C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #F8D0D0;
    color: #97271C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .filter:hover{
    background-color: #97271C;
    color: white;
  }

  .workspace-icons{
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: transit;
    /* border: 1px solid grey; */
  }
.workspace-icons:hover{
  background-color: #F8D0D0;
}

  .workspace-icons-user{
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .workspace-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
    gap: 10px;
    margin-top:10px;
    cursor: pointer;
    /* background-color: #0056b3; */
    margin-right: 30px;
  }

  
  .action-workspace{
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }

  .action-workspace .btn-workspace{
    background-color: #97271C;
    color: white;
    margin-left: 2vw;
    border-radius: 50%;
    width: 12%;
    height: 4vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 0;
  }

  .action-workspace .btn-workspace:hover{
    background-color: #6b1c14;
  }
  
  .workspace-card {
    background-color: white;
    padding: 15px;
    height: 170px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #6b1c14;
    transition: transform 0.4s;
  }
  
  .workspace-card:hover {
    transform: translateY(-5px);
  }
  
  .workspace-card h3 {
    margin: 0 0 10px 0;
  }
  .workspace-card .dot-btn{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .workspace-card p {
    margin-bottom: 15px;
    color: #555;
  }

  .dropdown-menu{
    position: fixed;
    padding: 2px 4px;
    right: 0px;
    top: 35px;
    background-color: white;
    border: 1px solid #6b1c14;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border-bottom-right-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .dropdown-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-menu li{
    width: 150px;
    padding: 8px 5px;
    cursor: pointer;
    border-bottom: 1px solid #6b1d1474;
  }
  .dropdown-menu .dropdown-li{
    display: flex;
    align-items: start;
    justify-content: left;
    font-size: 13px;
    font-weight: bold;

  }
  .dropdown-menu li:hover{
    background-color: #bc7b7476;
    border-radius: 8px;
    color: white;
  }

  .dropdown-icon{
    margin-right: 1vh;
  }
  
  .workspace-card button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .workspace-card button:hover {
    background-color: #0056b3;
  }
  
  .workspace-form {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F4F5F7;
  }
  
  .workspace-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .workspace-form button {
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: #051937;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .workspace-form button:hover {
    background-color: #051937;
    color: white;
  }

  .workspace-container button.addButton{
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
  }

  .workspace-card-input{
    /* background-color: white; */
    padding: 10px;
    /* height: 10%; */
    /* max-height: 100%;
    min-height: 10%; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    transition: transform 0.4s, height 0.4s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .workspace-card-input button.new{
    border-radius: 5px;
    background-color: #97271C;
    border: 1px solid #97271C;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 80%;
    margin-top: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .workspace-card-input button.new:hover{
    background-color: #6b1c14;
  }

  .workspace-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }

  .workspace-form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .workspace-form button{
    padding: 10px;
    border-radius: 5px;
    background-color: #97261c76;
    color: #6b1c14;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #6b1c14;
  }

  .workspace-form button:hover{
    background-color: #6b1c14;
  }
