
.App {
  text-align: center;
  background-image: linear-gradient(to right, #000000, #1f0c10, #341118, #4b141c, #62161e, #76161f, #8a171e, #9e191b, #b51519, #cc1015, #e4080d, #fb0000);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
}
.App1{
  width: 15%;
  min-width: 200px; /* Lebar minimal untuk sidebar jika diperlukan */
  max-width: 25%;
  border: 1px solid white;
}
.App2{
  flex: 1;
  border: 1px solid blue;
  overflow: hidden;
}