.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App2 {
  display: flex; 
  flex: 1;
}

.sidebar {
  position: relative;
  width: 300px;
  background-color: green;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 10;
}

.main-content {
  /* margin-left: 10px; */
  position: relative;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  z-index: 1;
  background-color: rgba(232, 232, 232, 0.414);
}

.navbar {
  height: 60px;
  /* background-color: #007bff; */
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;

}


/* 
.App {
  text-align: center;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
} 
.App1{
  width: 15%;
  min-width: 200px; 
  max-width: 25%;
  border: 1px solid white;
}
.App2{
  flex: 1;
  overflow: hidden;
} */